* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    background-color:#131921;
    height: 60px;
    color: white;
}

.container {
    width: 100%;   
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #232f3e;
}

.logo-container {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.logo {
    width: 120px;
    height: 50px;
    background: url('https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405936311_.png');
    background-repeat: no-repeat;
    background-position-y: -40px;
    overflow: hidden;
}

.dotin {
    position: relative;
    margin-left: -13px;
    margin-top: -10px;
}

.border-white {
    padding: 5px;
    border: 1.5px solid transparent;
}

.border-white:hover {
    border: 1.5px solid #ffffff;
}

.address-container {
    margin-left: 10px;
}

.address-container p {
    margin: 0;
}

.icon-address {
    display: flex;
    align-items: center;
}

.hello {
    font-size: 0.8rem;
    padding-left: 20px;
    color: #ccc;
}

.icon-location {
    margin-right: 3px;
}

.search-container {
    background-color: red;
    margin-left: 25px;
    width: 927px;
    display: flex;
    height: 40px;
    justify-content: space-between;
    border-radius: 3px;
    overflow: hidden;
}

.search-container:hover {
    outline: 3px solid orange;
}

.search-select {
    width: 60px;
    border: none;
    background-color: rgb(230, 227, 227);
}

.search-input {
    white-space: nowrap;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 3px;
    font-size: 1.1rem;
}

.search-icon {
    width: 50px;
    background-color: rgb(235, 160, 94);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #000;
}

.language-container {
    margin-left: 25px;
}

.language-container p {
    font-size: 0.8rem;
    margin: 0;
}

.lauguge-image {
    width: 20px;
}

.lauguge-image img {
    width: 100%;
}

.login-container {
    margin-left: 15px;
}

.login-container p {
    margin: 0;
}

#account {
    font-weight: 800;
    font-size: 14px;
}

#address{
    font-weight: 900;
    font-size: 1.1rem;
}

.return-order-container {
    width: 65px;
    font-size: 0.9rem;
    margin-left: 20px;
}

.return-order-container p {
    margin: 0;
}

#order {
    font-size: 1rem;
    font-weight: 900;
    display: flex;
    width: 70px;
}


.cart-container {
    font-size: 1.1rem;
    display: flex;
    margin-left: 25px;
}

.cart-container i {
    font-size: 1.5rem;
}

.navbar{
    background-color:#232f3e;
    overflow: hidden;
    height: 43px;  
}
.navbar ul{
    margin-left: -25px;
}

.navbar li{
    float:none;
    margin: 10px 10px;
    list-style: none;
    display: inline-block;  
    position: relative;
    top: -34px; 
}
.navbar li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}

#prime{
    height: 44px;
    width: 330px;
    margin-left: 5px;
    position: relative;
    top: -16px;
}

#bar{
    margin-right: 8px;
}

.dropbtn{
    background-color: transparent;
    color: white;
    /* padding: 13px;
    padding-left: 5px;
    padding-right: 22px; */
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
}
  
.dropdown{
    position: relative;
    display: block;
    /* margin-left:50px; */
    /* margin-bottom: 10px; */
    display: inline-block;
}
  
.dropdown-content{
    display:none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-contenti a{
    color: gray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1
}
  
.dropdown:hover .dropdown-content{
    display: block;
}

#continue{
    width: 130px;
    line-height: 19px;
    height: 34px;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
    background: #FFD814;
    border-color: #FCD200;
    cursor: pointer;
    font-size: 13px;
    margin-left: 15px;
}


#new{
    color: #000;
    font-size: 13px;
    margin-top: 7px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.link{
    /* background-color: white; */
    color: #007185;
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
    color: rgb(199, 131, 4);
}

.navbar3{
    background-color:white;
    overflow: hidden;
    height: 43px;  
}
.navbar3 ul{
    margin-left: -25px;
}

.navbar3 li{
    float:none;
    margin: 10px 10px;
    list-style: none;
    display: inline-block;  
    position: relative;
    top: -12px; 
}
.navbar3 li a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-family: sans-serif;
    padding: 10px;
}

.link2:hover{
    color: black;
    text-decoration: underline;
    text-decoration-color: orange;
}

.decor_img{
    height: 225px;
    width: 850px;
    margin-left: 20px;
}

#img{
    height: 350px;
    width: 1625px;
    margin-left: 30px;
    margin-top: 20px;
}

#text{
    margin-left: 10px;
}

.navbar1{
    background-color:#2e3d4f;
    overflow: hidden;
    height: 70px;
    margin-top: 50px;   
}

.navbar1 li{
    margin: 10px 25px;
    list-style: none;
    display: flex;
    justify-content: center;
    font-family: sans-serif;   
}
.navbar1 li a{
    text-decoration: none;
    color: white;
}

#h{
    color: rgb(223, 145, 0);
    font-size: 35px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 20px;
}

#explore{
    font-size: 14px;
    font-family: sans-serif;
    margin-left: 20px;
    position: relative;
    top: -27px;
    color: gray;
}

#box{
    margin-left: 30px;
    margin-top: 5px;
    height: 450px;
    width: 1630px;
    background-color: rgb(223, 222, 222);
}

.img2{
    width: 1600px;
    height: 430px;
    margin-left: 15px;
    position: relative;
    top: 10px;
}

.slideshow,
.slideshow::after {
    position: relative;
    list-style: none;
    margin-left: 15px;
    top: 10px;
}

.slideshow::after {
    content: '';
}

.img-bg-slide {
    width: 1600px;
    height: 430px;
    position: absolute;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: backgroundSlideshow 60s linear infinite 0s;
}

* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
/* .arrow{
 margin-left: 10px;
}
.right{
    margin-left: 10px;
} */
@keyframes backgroundSlideshow {
    0% {
        opacity: 1;
    }

    12.5% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    37.5% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

#box2{
    margin-left: 30px;
    margin-top: 5px;
    height: 320px;
    width: 1630px;
    background-color: rgb(223, 222, 222);
    /* border: 1px solid; */
}
#box3{
    height: 300px;
    width: 1600px;
    background-color: white;
    margin-left: 15px;
    /* margin-top: 50px; */
    position: relative;
    top: 10px;
}

#wish{
    color: black;
    font-size: 18px;
    font-family: sans-serif;   
    font-weight: 700;
    position: relative;
    top: 23px;
    margin-left: 15px;
}

.container1 {
    margin-top: 50px;
    margin-left: 36px;
    height: 190px;
    width: 1528px;
    display: grid;
    grid-template-columns: repeat(7, 190px);
    column-gap: 33px;
}

.item {
    width: 190px;
    height: 190px;
}

.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 375px;
    background-color:#273647;
    margin-top: -10px;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-around;
}
  
.footercon{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 50px;
    background-color: transparent;
}
  
.footer .flex1{
    color:white;
    justify-content:space-around;
    align-items:flex-start;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:100%;
    font-size: 17px;
    min-height: 30px;
    display: block;
    margin-left: 500px;  
}
  
.footer .flex1 h5{    
   margin-left: 500px;
}
  
.list1{
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height:50px;
    font-size: 13px;
    padding:70px 70px;
    position: relative;
    top: -91px;
   
}
  
.list1 li{
    font-size: 13px;
    margin: 7px -10px;
    list-style: none;
}
  
.list1 li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.list1 li a:hover{
    text-decoration: underline;
}
  
li a{
    font-size: 13px;
    text-align: center;
    color: white;

}

.list2{
    top: -49px;
}

.list3{
    top: -106px;
}

.logo1{
    width: 120px;
    height: 50px;
    display: block;
}

.navbar2{
    background-color:#232f3e;
    overflow: hidden;
    height: 150px;   
}


.navbar2 ul{
    margin-left: 10px;
    display: flex;
    justify-content: center;
}

.navbar2 li{   
    float:none;
    margin: 10px 25px;
    list-style: none;
    display: inline-block
}

.navbar2 li a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-left: -40px;
} 

.navbar2 li a:hover{
    text-decoration: underline;
}

.dropbtn2{
    background-color: transparent;
    color: white;
    /* padding: 13px;
    padding-left: 5px;
    padding-right: 22px; */
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
}
  
.dropdown2{
    position: relative;
    display: block;
    /* margin-left:50px; */
    /* margin-bottom: 10px; */
    display: inline-block;
}
  
.dropdown-content2{
    display:none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content2 a{
    color: gray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content2 a:hover {
    background-color: #f1f1f1
}
  
.dropdown2:hover .dropdown-content2{
    display: block;
}